<!DOCTYPE html>
<html lang="es">

    <!-- Cabecera -->
    <header class="masthead" style="background-image: url('img/portafolio.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Portafolio</h1>
              <span class="subheading">Currículo</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Contenido Principal -->
    <div class="container">
      <!-- Proyecto -->
      <div class="row project">  	
          <div class="col-lg-3 col-md-4 offset-lg-1">
              <img class="img-fluid" src="img/proy1.jpeg" alt="">
          </div>
        <div class="col-lg-7 col-md-8">
              <h2 class="section-heading title">Segundo proyecto</h2>   
          <p>Como parte de mi aprendizaje en API's, en la escuela me dejaron hacer un SPA de ejemplo con información sobre heroes de comics</p>
          <p><a href="http://google.com">Más información</a></p>
          </div>
      </div>
      <!-- Proyecto -->
      <div class="row project">  	
          <div class="col-lg-3 col-md-4 offset-lg-1">
              <img class="img-fluid" src="img/proy2.jpeg" alt="">
          </div>
        <div class="col-lg-7 col-md-8">
              <h2 class="section-heading title">Primer proyecto</h2>   
          <p>Como un proyecto de la escuela decidí ayudar a un negocio local, apoyandolo para crear un sitio web donde la gente pudiera ver y comprar sus muebles además él con la posibilidad de agregar o eliminar dichos muebles</p>
          <p><a href="http://google.com">Más información</a></p>
          </div>
      </div>
      </div>

  </body>

</html>