<!DOCTYPE html>
<html lang="es">


  <body>

    <!-- Cabecera -->
    <header class="masthead" style="background-image: url('img/acerca.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Acerca de</h1>
              <span class="subheading">Biografía</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="img/yo.jpeg" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Channel González Jiménez</h2>   
          <p>Nacido en Apizaco el 30 de abril del 2001, soy el hijo mayor de mis padres los cuales son actualmente comerciantes, toda la vida estuve y me crié en Apizaco, primaria: 19 de noviembre, secundaria: tecnica 53, preparatoria: CECYTE 07, actualmente estudio para TSU en la universidad tecnologica de Tlaxcala. </p>
          <p>Soy una persona bastante abierta a nuevas experiencias, me creo introvertido pero bastante amigable si me conocen. Me gusta mucho el anime, los videojuegos, la comida, creo que la mayoriá de generos musicales. </p>
        </div>
      </div>  
    </div>

    <hr>

  </body>

</html>
